:host {
  display: block;
  position: relative;
  overflow: hidden;
  .camera-content {
    position: absolute;
    transition: transform 0.1s ease-out;
    margin: 0;
    padding: 0;
  }

  ::slotted(.animated) {
    transition: transform 400ms ease-in-out;
  }

}
