:host {
  display: block;
  position: relative;
}

.static-layer,
.animated-layer {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}

.static-layer {
  z-index: 0;
}

.animated-layer {
  z-index: 1;
  pointer-events: none;
}

.debug-collider {
  position: absolute;
  border: 2px solid rgba(255, 0, 0, 0.7);
  background-color: rgba(255, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 10;
  pointer-events: none;
}
