:host {
  display: block;
  position: relative;
  .particle-container {
    position: relative;
    overflow: hidden;

    canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
   }
  }

}
